$white: hsl(0, 0%, 100%);
$transparentWhite: hsla(0, 0%, 100%, 0.5);
$moderateViolet: hsl(263, 55%, 52%);
$darkGrayBlue: hsl(217, 19%, 35%);
$transparentGrayBlue: hsla(219, 29%, 14%, 0.5);
$darkBlackblue: hsl(219, 29%, 14%);
$coolBlue: hsl(228, 45%, 44%);

$lightGray: hsl(0, 0%, 81%);
$grayBlue: hsl(210, 46%, 95%);