@use 'colors';

@mixin centerGrid {
    display: grid;
    place-items: center;
}

@mixin fontsStyle ($size: 1rem, $weight: 500) {
    font: {
        size: $size;
        weight: $weight;
    }
}

@mixin whiteCard {
    background-color: colors.$white;
    color: colors.$darkGrayBlue;

    .testimonial__status,
    .testimonial__quote {
        color: colors.$transparentGrayBlue;
    }
}

@mixin photoRing($color){
    .testimonial__photo {
        outline: 2px solid $color;
    }
}